/node_modules
/public/hot
/public/storage
/public/images
/public/.htaccess
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
laravel-echo-server.json
.dir-locals.el
.log
.ac-php-conf.json
.phpstorm.meta.php
_ide_helper.php
readme.html
/dumps

#phpstorm
.idea/
#macos
.DS_Store
